

<!DOCTYPE html>
<html>
	<head>
		<title>GPT-3 Personal Health Assistant Chatbot</title>
        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.jpg') }}">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"></script>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles_new.css') }}">
	</head>
	<!--Coded With Love By Mutiullah Samim-->
	<body>
		<div class="container-fluid h-100">
			<div class="row justify-content-center h-100">
				<div class="col-md-8 col-xl-6 chat">
					<div class="card">
						<div class="card-header msg_head">
							<div class="d-flex bd-highlight">
								<div class="img_cont">
									<img src="{{ url_for('static',filename='images/_D.jpg') }}" class="rounded-circle user_img">
									<span class="online_icon"></span>
								</div>
								<div class="user_info">
									<span>Personal Health Assistant</span>
									
								</div>
								
							</div>
							<span id="action_menu_btn"><i class="fas fa-ellipsis-v"></i></span>
						</div>
						<div class="card-body msg_card_body" id="chatbox">
							<div class="d-flex justify-content-start mb-4">
								<div class="img_cont_msg">
									<img src="{{ url_for('static',filename='images/_D.jpg') }}" class="rounded-circle user_img_msg">
								</div>
								<div class="msg_cotainer">
									Hi! I'm  your virtual personal health assistance. How are you doing today?
									
								</div>
							</div>
							
						</div>
						<div class="card-footer">
							<div class="input-group">
								<div class="input-group-append">
									<span class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></span>
								</div>
								<textarea id ="textInput" name="message" class="form-control type_msg" placeholder="Type your message..."></textarea>
								<div class="input-group-append">
									<span class="input-group-text send_btn" id="buttonInput"><i class="fas fa-location-arrow"></i></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

        <script>
            function getBotResponse() {
                var rawText = $("#textInput").val();
                var userHtml = '<div class="d-flex justify-content-end mb-4"><div class="msg_cotainer_send">' + rawText + '</div><div class="img_cont_msg"><img src="{{ url_for("static",filename="images/_E.jpg") }}" class="rounded-circle user_img_msg"></div></div>';
                $("#textInput").val("");
                $("#chatbox").append(userHtml);
                //document.getElementById('userInput').scrollIntoView({ block: 'start', behavior: 'smooth' });
                $.get("/get", { msg: rawText }).done(function (data) {
                    var botHtml = '<div class="d-flex justify-content-start mb-4"><div class="img_cont_msg"><img src="{{ url_for("static",filename="images/_D.jpg") }}" class="rounded-circle user_img_msg"></div><div class="msg_cotainer">' + data + '</div></div>';
                    $("#chatbox").append(botHtml);
                    //document.getElementById('userInput').scrollIntoView({ block: 'start', behavior: 'smooth' });
                });
            }
            $("#textInput").keypress(function (e) {
                if (e.which == 13) {
                    getBotResponse();
                }
            });
            $("#buttonInput").click(function () {
                getBotResponse();
            })
        </script>
	</body>
</html>
